<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4 user_info">
    <section class="user_name">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="name">
      <div class="name-title">
        <i class="fa fa-smile fa-lg"></i> ニックネーム
      </div>
      <p><%= @user.name %></p>
    </section>
    <section class="full_name">
      <div class="full_name-title">
        <i class="fa fa-user fa-lg"></i> 名前
      </div>
      <p>カナ <%= @user.last_name_ruby %> <%= @user.first_name_ruby %></p>
      <p>漢字 <%= @user.last_name %> <%= @user.first_name %></p>
    </section>
    </section>
    <section class="email">
      <div class="email-title">
        <i class="fa fa-envelope fa-lg"></i> メールアドレス
      </div>
      <p><%= @user.email %></p>
    </section>
    </section>
    <section class="gender">
      <div class="gender-title">
        <i class="fa fa-restroom fa-lg"></i> 性別
      </div>
      <p><%= @user.gender %></p>
    </section>
    </section>
    <section class="birthday">
      <div class="birthday-title">
        <i class="fa fa-birthday-cake fa-lg"></i> 生年月日
      </div>
      <p><%= @user.birthday %></p>
    </section>
    </section>
    <section class="age">
      <div class="age-title">
        <i class="fa fa-sort-numeric-up fa-lg"></i> 年齢
      </div>
      <p><%= @user.age %>歳</p>
    </section>
    <section class="user-address">
      <div class="user-address-title">
        <i class="fa fa-map-marker-alt fa-lg"></i> 住所
      </div>
      <p>〒<%= @user.zip_code %></p>
      <p><%= @user.prefecture %><%= @user.city %><%= @user.town %></p>
    </section>
    </section>
    <section class="phone-number">
      <div class="phone-number-title">
        <i class="fa fa-phone fa-lg"></i> 電話番号
      </div>
      <p><%= @user.phone_number %></p>
    </section>
    </section>
    <section class="license">
      <div class="license-title">
        <i class="fa fa-syringe fa-lg"></i> 所有資格
      </div>
      <p><%= @user.license %></p>
    </section>
    </section>
    <section class="career">
      <div class="career-title">
        <i class="fa fa-sticky-note fa-lg"></i> 経歴
      </div>
      <p><%= @user.career %></p>
    </section>
    </section>
    </section>
    <section class="work-times">
      <div class="cwork-times-title">
        <i class="fa fa-sun fa-lg"></i> 勤務可能曜日・時間
      </div>
      <p><%= @user.work_times %></p>
    </section>
    <section class="self-promotion">
      <div class="self-promotion-title">
        <i class="fa fa-address-card fa-lg"></i> 自己PR
      </div>
      <p><%= @user.self_promotion %></p>
    </section>
  </aside>
</div>

