<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-wrapper">
      <div class="form-container">
        <h1 class="form-title">ログイン</h1>
        <%= render 'shared/error_messages', object: f.object %>
        <form>
          <div class="form-item">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "medpot@exaple.com" %>
          </div>

          <div class="form-item">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="remember-me">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="submit-panel">
            <%= f.submit "ログイン", class: "submit-button" %>
          </div>

          <p class="or">───────── or ──────────</p>

          <div class="twitter-panel">
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to omniauth_authorize_path(resource_name, provider), class: "twitter-button" do %>
                <i class="fab fa-twitter fa-lg"></i>  Twitterでログイン
              <% end %>
            <% end %>
          </div>

          <p class="or">───────── or ──────────</p>

          <div class="guest-panel">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "guest-button" %>
          </div>

        </form>
        <div class="form-footer">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
