<%= form_for recruit do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <table class="recruit-table">
    <tr>
      <th><%= f.label :co_name %></th>
      <td><%= f.text_field :co_name, autofocus: true, style: "width: 372px;", placeholder: "〇〇クリニック" %></td>
    </tr>
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_area :title, rows: "3", cols: "50", placeholder: "看護師・准看護師 募集中！"  %></td>
    </tr>
    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description, rows: "10", cols: "50", placeholder: "看護師・准看護師を募集しています。経験年数は問いませんので一度ご連絡ください。"  %></td>
    </tr>
    <tr>
      <th><%= f.label :required_license %></th>
      <td><%= f.text_area :required_license, rows: "3", cols: "50", placeholder: "正看護師 or 准看護師"  %></td>
    </tr>
    <tr>
      <th><%= f.label :pay %></th>
      <td><%= f.text_area :pay, rows: "3", cols: "50", placeholder: "時給:××××円〜"  %></td>
    </tr>
    <tr>
      <th><%= f.label :work_style %></th>
      <td><%= f.text_area :work_style, rows: "3", cols: "50", placeholder: "9時〜19時の間(3時間〜)"  %></td>
    </tr>
    <tr>
      <th><%= f.label :transportation %></th>
      <td><%= f.text_area :transportation, rows: "3", cols: "50", placeholder: "自動車通勤可。駐車場完備。"  %></td>
    </tr>
    <tr>
      <th><%= f.label :phone_number %></th>
      <td><%= f.text_field :phone_number, autofocus: true, placeholder: "0012341234" %></td>
    </tr>
    <tr>
      <th><strong>所在地</strong></th>
      <td>
        <%= f.label :postcode %><br />
        <%= f.text_field :postcode, autofocus: true, placeholder: "1231234", id: "recruit_postcode" %><br /><br />
        <%= f.label :prefecture_code %><br />
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, id: "recruit_prefecture_code" %><br /><br />
        <%= f.label :city %><br />
        <%= f.text_field :city, autofocus: true, style: "width: 372px;", id: "recruit_city" %><br /><br />
        <%= f.label:street %><br />
        <%= f.text_field :street, autofocus: true, style: "width: 372px;", id: "recruit_street" %><br /><br />
      </td> 
    </tr>
    <tr>
      <th><%= f.label :access %></th>
      <td><%= f.text_area :access, rows: "3", cols: "50", placeholder: "〇〇駅より徒歩３分"  %></td>
    </tr>
    <tr>
      <th><%= f.label :web_site %></th>
      <td><%= f.text_field :web_site, autofocus: true, style: "width: 372px;", placeholder: "https//www.medpot.com" %></td>
    </tr>
  </table>

  <table class="recruit-table">
    <tr>
      <th><strong>画像のアップロード</strong></th>
      <td>
        <span class="image">
          <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
        </span>
      </td>
    </tr>
  </table>

  <div class="recruit-panel">
    <%= f.submit "求人情報を登録", class: "recruit-button" %>
  </div>
<% end %>
