<footer class="footer">
  <div class="footer-text">
    The <%= link_to "Medpot", root_path %>
    by <%= link_to "hajime.", root_path %>
  </div>
  <nav class="footer-link">
    <ul>
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "Medpotとは", root_path %></li>
      <li><%= link_to "利用規約", terms_of_service_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>
