<footer class="footer">
  <div class="">
    The <a href="#">Medpot</a>
    by <a href="#">hajime.</a>
  </div>
  <nav>
    <ul>
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "Medpotとは", root_path %></li>
      <li><%= link_to "利用規約", terms_of_service_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>
