<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="header-container">
    <%= link_to "Medpod", root_path, id: "logo" %>
    <nav class="header-list">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "Medpotとは", about_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "求人検索", recruits_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              マイアカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to user_path(current_user.id) do %>
                  <i class="fas fa-user fa-lg"></i> &nbsp;マイページ
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path(@user) do %>
                  <i class="fas fa-user-edit fa-lg"></i> プロフィール編集
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt fa-lg"></i> ログアウト
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "サインアップ", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
